pipecat-ai
cartesia
pipecat-ai[google,elevenlabs,websocket,daily,silero,openai,deepgram,webrtc]
uvicorn
build
fastapi[all]
aiortc
opencv-python-headless
python-dotenv
pipecat-ai-small-webrtc-prebuilt
